<body>

  <div>
    <label for="">Tên sản phẩm</label>
    <select #selectElem (change)="SelectedSanPham(selectElem.value)">
      <option *ngFor="let sanpham of listSanPham" [value]="sanpham.TenHang">        
        {{sanpham.TenHang}}
      </option>
    </select>
    <br>
    <label for="">Chiều dài</label>
    <input type="text" [(ngModel)]="hoadon.ChieuDai">
    <br>
    <label for="">Khổ</label>
    <input type="text" [(ngModel)]="hoadon.Kho">
    <br>
    <label for="">Số tấm</label>
    <input type="text" [(ngModel)]="hoadon.SoTam">
    <br>
    <label for="">Số m2</label>
    <input type="text" [(ngModel)]="hoadon.Som2">
    <br>
    <label for="">Đơn giá</label>
    <input type="text" [(ngModel)]="hoadon.DonGia">
    <br>
    <label for="">Thành tiền</label>
    <input type="text" [(ngModel)]="hoadon.ThanhTien">
    <br>
    <button (click)="ThemHoaDon(hoadon)">Thêm hàng</button>
  </div>

  <div id="wrapper">
    <h1>Hóa đơn</h1>

    <table id="keywords" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>
            <span>STT</span>
          </th>
          <th>
            <span>Tên sản phẩm</span>
          </th>
          <th>
            <span>Chiều dài</span>
          </th>
          <th>
            <span>Khổ</span>
          </th>
          <th>
            <span>Số tấm</span>
          </th>
          <th>
            <span>Số m2</span>
          </th>
          <th>
            <span>Thành tiền</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listHoaDon">
          <td></td>
          <td>{{item.TenHang}}</td>
          <td>{{item.ChieuDai}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>